<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>北京市朝阳区麦子店西路3号新恒基大厦15层</string>
		<key>cate_name</key>
		<string>金融会议</string>
		<key>id</key>
		<string>1020</string>
		<key>is_charge</key>
		<string>0</string>
		<key>islive</key>
		<string>false</string>
		<key>merchant_name</key>
		<string>中国金融通商学院</string>
		<key>name</key>
		<string>十九大后新形势、新思维</string>
		<key>price</key>
		<string>0.00</string>
		<key>start_time</key>
		<string>1512194400</string>
		<key>thum</key>
		<string>/Uploads/2017/11/28/5a1d291053190.jpg</string>
		<key>thumb</key>
		<string>/Uploads/2017/11/28/5a1d291053190.jpg</string>
		<key>type_name</key>
		<string>区域会议</string>
		<key>user_id</key>
		<string>913298632</string>
	</dict>
	<dict>
		<key>address</key>
		<string>北京市朝阳区麦子店西街3号新恒基国际大厦15层</string>
		<key>cate_name</key>
		<string>金融会议</string>
		<key>id</key>
		<string>850</string>
		<key>is_charge</key>
		<string>0</string>
		<key>islive</key>
		<string>false</string>
		<key>merchant_name</key>
		<string>德润仓商学院</string>
		<key>name</key>
		<string>“破局！小额现金贷～获客、避免系统性风险、出海！</string>
		<key>price</key>
		<string>0.00</string>
		<key>start_time</key>
		<string>1502863200</string>
		<key>thum</key>
		<string>/Uploads/2017/08/08/59891af089fb4.jpg</string>
		<key>type_name</key>
		<string>区域会议</string>
		<key>user_id</key>
		<string>902507335</string>
	</dict>
	<dict>
		<key>address</key>
		<string>中关村大街营业部</string>
		<key>cate_name</key>
		<string>金融会议</string>
		<key>id</key>
		<string>415</string>
		<key>is_charge</key>
		<string>1</string>
		<key>islive</key>
		<string>false</string>
		<key>merchant_name</key>
		<string>中国国际期货股份有限公司</string>
		<key>name</key>
		<string>人民币汇率与境外期货投资</string>
		<key>price</key>
		<string>0.00</string>
		<key>start_time</key>
		<string>1488000600</string>
		<key>thum</key>
		<string>/Uploads/2017/02/15/58a3be3ae8050.jpg</string>
		<key>thumb</key>
		<string>/Uploads/2017/02/15/58a3be3ae8050.jpg</string>
		<key>type_name</key>
		<string>大型会议</string>
		<key>user_id</key>
		<string>25011077</string>
	</dict>
	<dict>
		<key>address</key>
		<string>中期大厦一层大会议厅</string>
		<key>cate_name</key>
		<string>金融会议</string>
		<key>id</key>
		<string>377</string>
		<key>is_charge</key>
		<string>1</string>
		<key>islive</key>
		<string>false</string>
		<key>merchant_name</key>
		<string>中期商学院</string>
		<key>name</key>
		<string>中期期权实战培训班</string>
		<key>price</key>
		<string>1280.00</string>
		<key>start_time</key>
		<string>1484701200</string>
		<key>thum</key>
		<string>/Uploads/2017/01/25/5888635f566b9.png</string>
		<key>thumb</key>
		<string>/Uploads/2017/01/25/5888635f566b9.png</string>
		<key>type_name</key>
		<string>单位会议</string>
		<key>user_id</key>
		<string>902303025</string>
	</dict>
	<dict>
		<key>address</key>
		<string>中期大厦A座6层</string>
		<key>cate_name</key>
		<string>金融会议</string>
		<key>id</key>
		<string>353</string>
		<key>is_charge</key>
		<string>1</string>
		<key>islive</key>
		<string>false</string>
		<key>merchant_name</key>
		<string>中国国际期货股份有限公司</string>
		<key>name</key>
		<string>华北地区化工产业研讨会</string>
		<key>price</key>
		<string>0.00</string>
		<key>start_time</key>
		<string>1482037200</string>
		<key>thum</key>
		<string>Uploads/2016/12/15/5851e00abf9cd.png</string>
		<key>thumb</key>
		<string>Uploads/2016/12/15/5851e00abf9cd.png</string>
		<key>type_name</key>
		<string>大型会议</string>
		<key>user_id</key>
		<string>25011077</string>
	</dict>
	<dict>
		<key>address</key>
		<string>中期大厦一层</string>
		<key>cate_name</key>
		<string>金融会议</string>
		<key>id</key>
		<string>355</string>
		<key>is_charge</key>
		<string>1</string>
		<key>islive</key>
		<string>false</string>
		<key>merchant_name</key>
		<string>中国国际期货股份有限公司</string>
		<key>name</key>
		<string>大国硝烟、人民币汇率与期货走势分析</string>
		<key>price</key>
		<string>0.00</string>
		<key>start_time</key>
		<string>1481950800</string>
		<key>thum</key>
		<string>Uploads/2016/12/15/5851e11a17a9c.jpg</string>
		<key>thumb</key>
		<string>Uploads/2016/12/15/5851e11a17a9c.jpg</string>
		<key>type_name</key>
		<string>大型会议</string>
		<key>user_id</key>
		<string>25011077</string>
	</dict>
</array>
</plist>
